@import "tailwindcss";

/* * {
  border: solid 1px red;
  ;
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@import "tailwindcss";

@theme {
  /* Color palette - Custom colors */
  --color-oklch-primary: oklch(55.19% 0.0137 285.94);
  --color-oklch-secondary: oklch(87.09% 0.0055 286.29);
  --color-oklch-light: oklch(87.09% 0.0055 286.29);
  --color-oklch-dark: oklch(14.05% 0.0044 285.82);

  --color-dark-bg: #050505;
  --color-dark-bg-secondary: #0d0d0d;
  --color-dark-bg-tertiary: #161515;
  --color-dark-card: #191919;
  --color-dark-input: #2b2b2b;
  --color-dark-section: #202020;
  --color-dark-grid: #262626;

  /* Custom background images */
  --background-grid-light: linear-gradient(to right, #e4e4e7 1px, transparent 1px),
    linear-gradient(to bottom, #e4e4e7 1px, transparent 1px);
  --background-grid-dark: linear-gradient(to right, #262626 1px, transparent 1px),
    linear-gradient(to bottom, #262626 1px, transparent 1px);
  --background-grid-small: linear-gradient(90deg, oklch(87.09% 0.0055 286.29 / 0.4) 1px, transparent 1px),
    linear-gradient(0deg, oklch(87.09% 0.0055 286.29 / 0.4) 1px, transparent 1px);
  --background-gradient-radial: radial-gradient(var(--tw-gradient-stops));

  /* Custom background sizes */
  --background-size-grid-lg: 150px 150px;
  --background-size-grid-md: 40px 40px;

  /* Custom shadows */
  --shadow-glass: 0 0 24px rgba(34, 42, 53, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.05),
    0 0 0 1px rgba(34, 42, 53, 0.04),
    0 0 4px rgba(34, 42, 53, 0.08),
    0 16px 68px rgba(47, 48, 55, 0.05),
    0 1px 0 rgba(255, 255, 255, 0.1) inset;
  --shadow-menu: var(--shadow-glass);

  /* Font families */
  --font-sans: var(--font-inter), sans-serif;

  /* Animation */
  --animation-beam-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animation-glow: glow 2s ease-in-out infinite;

  @keyframes glow {

    0%,
    100% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }
  }
}